<nav class="fixed top-0 z-10 w-full shadow-lg shadow-gray-100 bg-softWhite">
  <div
    class="flex flex-wrap items-center justify-between p-6 mx-auto sm:px-10 sm:py-6"
  >
    <div class="flex items-center gap-x-12">
      <div
        routerLink="/dashboard"
        class="flex items-center text-2xl font-bold uppercase cursor-pointer text-background"
      >
        encrease
      </div>
      <div class="w-60">
        <input
          type="text"
          class="w-full py-2.5 px-3 bg-gray-100 rounded-sm text-sm"
          placeholder="Search"
        />
      </div>
    </div>
    <div class="flex items-center gap-x-10">
      <div>
        <button
          class="w-full py-2.5 px-12 bg-background rounded-sm text-sm font-medium text-softWhite"
        >
          Create Product
        </button>
      </div>
      <div class="flex items-center gap-x-6">
        <div class="flex items-center px-2 py-1 bg-gray-100 rounded-full">
          <fa-icon
            [icon]="faSetting"
            class="flex items-center justify-center w-4 h-6 text-background/50"
          ></fa-icon>
        </div>
        <div class="flex items-center px-2 py-1 bg-gray-100 rounded-full">
          <fa-icon
            [icon]="faNotification"
            class="flex items-center justify-center w-4 h-6 text-background/50"
          ></fa-icon>
        </div>
      </div>
      <div class="flex items-center gap-x-4">
        <div class="p-5 rounded-full bg-softGray"></div>
        <div class="text-sm font-medium text-background">Admin</div>
      </div>
    </div>
  </div>
  <hr class="mx-10 border-gray-200" />
  <div
    class="flex flex-col gap-4 p-2 mx-16 text-sm font-medium text-gray-500 lg:p-0 lg:flex-row lg:gap-10"
  >
    <div class="p-2 py-5 cursor-pointer" routerLink="/dashboard">Dashboard</div>
    <div class="p-2 py-5 cursor-pointer" routerLink="/products">Product</div>
    <div class="p-2 py-5 cursor-pointer" routerLink="/about">Page</div>
    <div class="p-2 py-5 cursor-pointer" routerLink="/user">User Admin</div>
    <div class="p-2 py-5 cursor-pointer" routerLink="/contact">Report</div>
  </div>
</nav>
